<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>



<div class="container card " *ngIf="!isEditing && !orderDone">
  <h4 class="card-header">Qui es-tu?</h4>
  <div class="card-block">
    <form class="form-inline" [formGroup]="addEnfantForm" (ngSubmit)="addEnfant()" style="text-align:center">
      <div class="form-group">
        <input class="form-control" type="text" name="name" formControlName="name" placeholder="Name">
      </div>
      <div class="form-group">
        <input class="form-control" type="number" name="age" formControlName="age" placeholder="Age" min="0">
      </div>
      <div class="form-group">
        <!-- <input class="form-control" type="text" name="town" formControlName="town" placeholder="Ta ville"> -->
        <input class="form-control" type="text" name="town" formControlName="town" placeholder="Ta ville" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="present" formControlName="present" placeholder="Ton jouet idéal" step="any" min="0">
      </div>
      <button class="button2 btn btn-primary" type="submit" [disabled]="!addEnfantForm.valid">Envoyer ma demande au père noël!</button>
    </form>
  </div>
</div>

















<div *ngIf="orderDone">
  <div class="container-fluid fondRouge">
    <div class="container lettre">
      <div *ngFor=" let enfant of enfants;  let last = last">
        <h2 class="lettreH" *ngIf="last">Hey {{enfant.name}} !!</h2>
      </div>
      <div *ngFor=" let enfant of enfants;  let last = last">
        <p class="lettreP" *ngIf="last">En cette période de Noël, je dois redoubler d'effort pour terminer la fabrication<br> et l'emballage des cadeaux
          qui seront offerts à tous les enfants du monde entier. <br> Heureusement, tous mes lutins m'aident beaucoup dans
          cette tâche!!! <br> D'ailleurs, l'un d'entre eux m'a rapporté que tu avais commandé un/une "{{enfant.present}}"!
          <br> Je m'en vais donc de ce pas vérifier si ton jouet existe déjà et s'il ne l'est pas, <br> lancer sa fabrication!
        </p>
      </div>
      <div *ngFor=" let enfant of enfants;  let last = last">
        <h2 class="lettreH" *ngIf="last">Joyeux noël {{enfant.name}} !!</h2>
      </div>
    </div>
  </div>
</div>




<!-- <div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Nombre d'enfants enregistrés: {{enfants.length}}</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Prénom</th>
          <th>Age</th>
          <th>Ville</th>
          <th>Cadeau</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="enfants.length === 0">
        <tr>
          <td colspan="4">There are no enfant in the DB. Add a new enfant below.</td>
        </tr>  
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let enfant of enfants">
          <td>{{enfant.name}}</td>
          <td>{{enfant.age}}</td>
          <td>{{enfant.town}}</td>
          <td>{{enfant.present}}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="enableEditing(enfant)"><i class="fa fa-pencil"></i> Edit</button> 
            <button class="btn btn-sm btn-danger" (click)="deleteEnfant(enfant)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>  
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editEnfant(enfant)" style="display:inline">
              <div class="form-group">
                <input class="form-control" type="text" name="name" [(ngModel)]="enfant.name" placeholder="Ton prénom" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="number" name="age" [(ngModel)]="enfant.age" placeholder="Ton âge" min="0" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="town" [(ngModel)]="enfant.town" placeholder="Ta ville" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="present" [(ngModel)]="enfant.present" placeholder="Ton cadeau" required>
              </div> 
              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i>OK!</button>
            </form>
            <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i>Annuler</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->