.table td,
.table th {
  text-align: center;
  width: 25%;
}
  
div.lettre {
  border: 2px dotted red;
}

h2 {
  color: #101074;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 55px;
  margin: 45px 0;
  text-align: center;

}

p {
  color: #101074;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
}

