.table td,
.table th {
  text-align: center;
  width: 25%;
}
 
div.lettre {
  border: 2px dotted #860A0A;
}
.button2 {
  margin-top: 25px;
}
.button2:hover {
  background-color: #860A0A
}
.card-img-top {
  width: 110%;
}
.button2:active {
  background-color: #860A0A;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h2 {
  color: #101074;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 55px;
  margin: 45px 0;
  text-align: center;

}

p {
  color: #101074;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
}

.card {
  margin-top: 70px;
}

.card-header {
  text-align: center;
}

.card-block {
  
}
