.table td,
.table th {
  text-align: center;
  width: 25%;
}

.card-header{
  background:rgba(255,255,255,0.5);
  text-align: center;
  border-radius:10px;
}


div.lettre {
  border: 2px dotted #860A0A;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button2 {
  margin-top: 25px;
}
.button2:hover {
  background-color: #860A0A
}
.card-img-top {
  width: 110%;
}
.button2:active {
  background-color: #860A0A;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-primary{background: red;
  
}


h2 {
  color: #c00808;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 55px;
  margin: 45px 0;
  text-align: center;

}

p {
  color: #c00808;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
}

.card {
  margin-top: 40px;
  background: none;
  padding-bottom: 10px;
  }
 



    .p {
      text-align: center;
      font-size: 2em;
      margin: 20px 0 20px 0;
    }
    .form-control{
      border-radius: 15px;

    } 
    