<div class="container-fluid nav-fluid">
  <div class="imageCiel">
<img src="../assets/santa4.png" alt="pere noel ciel">
  </div>

  <nav class="navbar navbar-light bg-faded">
    <div class="nav navbar-nav">
      <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-home"></i> Home
      </a>
      <a routerLink="/cats" class="nav-item nav-link" *ngIf="catNav" routerLinkActive="active">
        <i class="fa fa-list" ></i> Cats
      </a>
      <a routerLink="/enfants" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-child"></i> Enfants
      </a>
      <a routerLink="/elf" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
        <i class="fa fa-id-badge"></i> Elfe
      </a>
      <a routerLink="/pere-noel" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
        <i class="fa fa-tree"></i> Père Noël
      </a>
      
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>
<div class="container adminSection"><a routerLink="/login" class="nav-item nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
  <i class="fa fa-sign-in"></i> Login
</a>
<a routerLink="/logout" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
  <i class="fa fa-sign-out"></i> Logout
</a>
  <a routerLink="/register" class="nav-item nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
    <i class="fa fa-user-plus"></i> Register
  </a>
  <a routerLink="/account" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
    <i class="fa fa-user"></i> Account ({{auth.currentUser.username}})
  </a>
  <a routerLink="/admin" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
    <i class="fa fa-lock"></i> Admin
  </a>

</div>